@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js" type="text/javascript"></script>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - Test</title>

    @*TinyMCE------------------------------------------------------------------------*@
    
    
    <script src="~/js/prism.js"></script>
    <script src="//cdn.jsdelivr.net/highlight.js/9.9.0/highlight.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            height: 500,
            theme: 'modern',
            plugins: [
              'advlist autolink lists link image charmap print preview hr anchor pagebreak',
              'searchreplace wordcount visualblocks visualchars code fullscreen',
              'insertdatetime media nonbreaking save table contextmenu directionality',
              'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc',
              'codesample',
            ],
            codesample_languages: [
       { text: 'HTML/XML', value: 'markup' },
       { text: 'JavaScript', value: 'javascript' },
       { text: 'CSS', value: 'css' },
       { text: 'PHP', value: 'php' },
       { text: 'Ruby', value: 'ruby' },
       { text: 'Python', value: 'python' },
       { text: 'Java', value: 'java' },
       { text: 'C', value: 'c' },
       { text: 'C#', value: 'csharp' },
       { text: 'C++', value: 'cpp' }
            ],
            toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',

            image_advtab: true,
            templates: [
              { title: 'Test template 1', content: 'Test 1' },
              { title: 'Test template 2', content: 'Test 2' }
            ],
            content_css: [
              '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
              '//www.tinymce.com/css/codepen.min.css'
            ]
        });
    </script>

   
 
   

    @*-------------------------------------------------------------------------------*@

    <environment names="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <link href="~/css/animate.min.css" rel="stylesheet" type="text/css" />
            <link href="~/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
            <link href="~/css/main.css" rel="stylesheet" type="text/css" />
            <link href="~/css/responsive.css" rel="stylesheet" type="text/css" />
            <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
                  rel="stylesheet" type="text/css" />*@

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.min.css" />
        <link href="~/css/animate.min.css" rel="stylesheet" type="text/css" />
        <link href="~/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
        <link href="~/css/main.css" rel="stylesheet" type="text/css" />
        <link href="~/css/tag.css" rel="stylesheet" type="text/css" />
       
        <link href="~/css/responsive.css" rel="stylesheet" type="text/css" />
        @*<link href="~/css/search.css" rel="stylesheet" type="text/css" />*@
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
              rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/path/to/styles/default.css" />
        <link rel="stylesheet" type="text/css" href="~/css/prism.css" />
        <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.9.0/styles/default.min.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
        <link rel="stylesheet" href="/resources/demos/style.css" />
        <link href="~/css/profile.css" rel="stylesheet" type="text/css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="shortcut icon" href="~/images/favicon.ico" />
</head>

<body>

    <header id="header">
        <div class="top-bar" style="height:4em">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                        @await Html.PartialAsync("_LoginPartial")

                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="social">
                            <ul class="social-share" style="display:inline-block">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                @*<div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                       <a class="navbar-brand" href="Default.aspx"><img src="~/images/logo.png" alt="logo"></a>
                    </div>*@

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                        <li><a asp-action="Index" asp-controller="Question">Câu hỏi</a></li>
                        <li><a asp-action="Index" asp-controller="Tag">Tag</a></li>
                        @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Blog Single</a></li>
                                    <li><a href="#">Pricing</a></li>
                                    <li><a href="#">404</a></li>
                                    <li><a href="#">Shortcodes</a></li>
                                </ul>
                            </li>*@
                        <li><a asp-action="Index" asp-controller="Person">Người dùng</a></li>
                        <li><a asp-action="Ask" asp-controller="Question">Đặt câu hỏi</a></li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li><a asp-action="YourProfile" asp-controller="Person">Thông tin user</a></li>
                        }

                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

    </header>
    <div class="body-content">
        @RenderBody()
        <hr />
    </div>
    <section id="feature">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Những Môn Học Thông Dụng</h2>
                @*<p class="lead">Easy to use, Responsive features, Mobile-first approach <br> Browser compatibility Bootstrap is compatible with all modern browsers</p>*@
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-database"></i>
                            <h2>Cơ sở dữ liệu</h2>
                            @*<h3>A standard navigation class navbar navbar-default</h3>*@
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-th"></i>
                            <h2>Nhập môn lập trình</h2>
                            @*<h3>grid system allows up to 12 columns across the page</h3>*@
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-calculator"></i>
                            <h2>Toán rời rạc</h2>
                            @*<h3>Bootstrap Grid system has four classes - xs, sm, md & lg</h3>*@
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-comment"></i>
                            <h2>Phân tích thiết kế và giải thuật</h2>
                            @*<h3>Modal is a dialog box/popup, Tooltip is small pop-up box</h3>*@
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cubes"></i>
                            <h2>Lập trình Web</h2>
                            @*<h3>xs (<768px), sm (>=768px), md (>=992px), lg (>=1200px)</h3>*@
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cloud-upload"></i>
                            <h2>Lập trình .Net</h2>
                            @*<h3>The Carousel plugin is a Slideshow</h3>*@
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section>
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                @*<div class="col-sm-6">
                        &copy; 2015 <a target="_blank" href="http://aspxtemplates.com/" title="Free Twitter Bootstrap asp.net templates">aspxtemplates</a>. All Rights Reserved.
                    </div>*@
                <div class="col-sm-offset-6 col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <a href="#" class="back-to-top"><i class="fa fa-2x fa-angle-up"></i></a>
    </footer>

    <!-- Back To Top -->
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var offset = 300;
            var duration = 500;
            jQuery(window).scroll(function () {
                if (jQuery(this).scrollTop() > offset) {
                    jQuery('.back-to-top').fadeIn(duration);
                } else {
                    jQuery('.back-to-top').fadeOut(duration);
                }
            });

            jQuery('.back-to-top').click(function (event) {
                event.preventDefault();
                jQuery('html, body').animate({ scrollTop: 0 }, duration);
                return false;
            })
        });
    </script>

   

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery.prettyPhoto.js" type="text/javascript"></script>
        <script src="~/js/jquery.isotope.min.js" type="text/javascript"></script>
        <script src="~/js/main.js" type="text/javascript"></script>
        @*<script src="~/js/search.js" type="text/javascript"></script>*@
        <script src="~/js/wow.min.js" type="text/javascript"></script>
        <script src="/path/to/highlight.pack.js"></script>
        <script src="~/js/prism.js"></script>
        <script src="//cdn.jsdelivr.net/highlight.js/9.9.0/highlight.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
