@using Microsoft.AspNetCore.Identity
@using Test.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="row">
       
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="col-lg-8">@UserManager.GetUserName(User)!</a>
           
            
                <button type="submit" class="btn btn-info btn-rounded col-lg-4">Đăng xuất</button>
       
    </form>
}
else
{
    <div class="row">
        <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-info btn-rounded col-lg-4 col-lg-offset-3">Đăng ký</a>
        <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-info btn-rounded col-lg-4 col-lg-offset-1">Đăng nhập</a>
        @*<a data-toggle="modal" href="#myModal" class="btn btn-success btn-rounded col-lg-4 col-lg-offset-1">Log in</a>*@
    
        
    
    </div> 
}
