@model Test.Models.Person





<form asp-action="Edit" method="post"  enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Person</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PersonID" />




        <div class="form-group">
            <label class="col-md-2 control-label">Tên hi?n th?</label>
            <div class="col-md-10">
                <input asp-for="PersonDisplayName" class="form-control" />
                <span asp-validation-for="PersonDisplayName" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">H?</label>
            <div class="col-md-10">
                <input asp-for="PersonLastName" class="form-control" />
                <span asp-validation-for="PersonLastName" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Tên</label>
            <div class="col-md-10">
                <input asp-for="PersonFirstName" class="form-control" />
                <span asp-validation-for="PersonFirstName" class="text-danger" />
            </div>
        </div>

       

        <div class="form-group">
            <label class="col-md-2 control-label">Sinh nh?t</label>
            <div class="col-md-10" id='datetimepicker1'>
                <input asp-for="PersonBirthday" class="form-control" type="text" id="datepicker" runat="server" />

                <span asp-validation-for="PersonBirthday" class="text-danger" />
            </div>
            <script>
                $(function () {
                    $("#datepicker").datepicker({
                        changeMonth: true,
                        changeYear: true,
                        dateFormat: 'dd-MM-yy'
                    });
                });
            </script>
        </div>


        <div class="form-group">
            <label  class="col-md-2 control-label">??a ch?</label>
            <div class="col-md-10">
                <input asp-for="PersonLocation" class="form-control" />
                <span asp-validation-for="PersonLocation" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Ngh? nghi?p</label>
            <div class="col-md-10">
                <input asp-for="PersonCareer" class="form-control" />
                <span asp-validation-for="PersonCareer" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Gi?i thi?u</label>
            <div class="col-md-10">
                <textarea asp-for="PersonAbout" class="form-control"></textarea>
                <span asp-validation-for="PersonAbout" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">C?p nh?t Avatar</label>
            <div class="col-md-10">
                <input type="file" name="file" multiple />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Tags</label>
            <div class="col-md-10">
     
                <input type="text" name="tag" value="@ViewData["tag"]" />
            </div>
        </div>
        <input class="hidden" asp-for="PersonEmail"/>
        <input class="hidden" asp-for="Score" />
        <input class="hidden" asp-for="Actived" />
        <input class="hidden" asp-for="PersonAvatar" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="L?u" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Quay l?i th? Ng??i dùng</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

