@{
    ViewData["Title"] = "Thông tin";
}
<h2>@ViewData["Title"].</h2>
@*<h3>@ViewData["Message"]</h3>*@
<div class="container">
    <p>Lập trình viên: Đàm Đức Duy.</p>
    <p>Sinh viên đại học quốc tế miền đông.</p>
    <p>SĐT: 01693848597.</p>
    <p>gmail: damducduy.it@gmail.com.</p>
</div>

